.result{
display: flex;
flex-direction: column;
justify-content: center;
height: 60vh;
text-align: center;
}

.result span{
    font-size: 50px;
}

.result button{
padding: 10px 20px;
background-color: rgba(235, 47, 47, 0.897);
border: none;
cursor: pointer;
color: white;
border-radius: 5px;
font-size: large;
}
.title{

}